.App {
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
}  
/* KANBAN BOARD */
.board {
  display: flex;
  justify-content: center;
  align-content: center;
  
}
/* KANBAN COLUMN */
.column {
  padding: 5px;
  background-color: orange;
  /* border: black 1px solid; */
  height: 100vh;
  margin: 10px;
  width: 300px;
  border-radius: 15px;
  box-shadow: gray 1px 1px 4px 2px;
  opacity: 75%;
 
}
.column-title {
  text-align: center;
  border-bottom: 1px solid white;
}
.column-title h1 {
  color: white;
  text-shadow: gray 1px 2px 5px;
}
.column-card {
  display: flex;
  justify-content: center;
  align-content: center;

}
.card-add {
  border: none;
  background-color: orange;
  color: white;
  font-size: 20px;
  text-shadow: gray 1px 1px 1px;
}
.card-add:hover {
  color: gray;
}
/* KANBAN CARD */
.card {
  background-color: salmon;
  border: black 1px solid;
  height: 50px;
  width: 200px;
  padding: 5px;
  box-shadow: black 1px 1px 4px 1px;
}
.card-title {
  border-bottom: 1px solid black;
}
.card-title input {
  padding: 5px;
  border: none;
  background-color: inherit;
}
.card-descr {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px;
}

.card-descr-btn {
  border: none;
  background-color: inherit;
}
.card-descr-btn:hover {
  color: white;
}
.card-descr textarea {
  border: none;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  size: inherit;
  color: black;
}