.App {
  margin: 50px;
}  
/* KANBAN BOARD */
.board {
  display: flex;
  justify-content: center;
  align-content: center;
  
}
/* KANBAN COLUMN */
.column {
  padding: 5px;
  background-color: orange;
  border: black 1px solid;
  height: 100vh;
  margin: 5px;
}
.column-title {
  
  border-bottom: 1px solid black;
}

/* .column-card {
  

} */
.card-add {
  border: none;
}
/* KANBAN CARD */
.card {
  background-color: salmon;
  border: black 1px solid;
  height: 50px;
  width: 200px;
  padding: 5px;
}
.card-title {
  border-bottom: 1px solid black;
}
.card-descr {
  visibility: hidden;
}

.card-descr-btn {
  border: none;
}